In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('SBA 345').getOrCreate()
stock = spark.read.load("CompanyABC_stock.csv", format="csv", header = True,inferSchema = True)

In [4]:
stock.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [5]:
stock.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [8]:
stock.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [11]:
stock.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

In [12]:
stock.show(5)

+----------+------------------+---------+---------+------------------+--------+------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [3]:
stock = stock.withColumn('HV Ratio', stock['Volume'] / stock['High'])
stock.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|          HV Ratio|
+----------+------------------+------------------+------------------+------------------+--------+------------------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|207481.16266817617|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475| 158961.0657485026|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|214159.68155249383|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|135734.22816258657|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|112162.89021264299|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|115680.79242473276|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098| 106930.9609764986|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|120606.66666666667|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|129664.48364931246|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|141407.41737801666|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|  98474.0979256055|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|152059.93742795984|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|169449.79591836734|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104| 116990.8166612004|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|118754.83870967742|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001| 96020.12504430895|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436| 120249.0297542044|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|102868.12995530317|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|124541.74820613177|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006| 158543.1216501543|
+----------+------------------+------------------+------------------+------------------+--------+------------------+------------------+
only showing top 20 rows

In [14]:
stock.orderBy(stock.High.desc()).show(5)

+----------+-----------------+-----------------+---------+---------+--------+-----------------+
|      Date|             Open|             High|      Low|    Close|  Volume|        Adj Close|
+----------+-----------------+-----------------+---------+---------+--------+-----------------+
|2015-01-13|        90.800003|        90.970001|    88.93|89.309998| 8215400|        83.825448|
|2015-01-08|        89.209999|90.66999799999999|    89.07|90.470001|12713600|84.91421600000001|
|2015-01-09|            90.32|        90.389999|    89.25|89.349998| 8522500|        83.862993|
|2015-01-12|        89.360001|        90.309998|89.220001|90.019997| 7372500|        84.491846|
|2015-01-23|88.41999799999999|        89.260002|87.889999|88.510002| 7565800|83.07458100000001|
+----------+-----------------+-----------------+---------+---------+--------+-----------------+
only showing top 5 rows

In [18]:
from pyspark.sql.functions import mean,avg,max,min

stock.select(mean("Close")).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

In [19]:
stock.select(max("Volume")).show()
stock.select(min("Volume")).show()

+-----------+
|max(Volume)|
+-----------+
|   80898100|
+-----------+

+-----------+
|min(Volume)|
+-----------+
|    2094900|
+-----------+

In [33]:
stock.createOrReplaceTempView("stock")
spark.sql("SELECT count(Close) FROM stock WHERE Close < 70").show()
#also this one below
stock.select('Close').filter(stock.Close < 70).count()

+------------+
|count(Close)|
+------------+
|         397|
+------------+

397

In [42]:
stock.select('High').filter(stock.High > 80).count()/stock.select('Date').count() * 100

9.141494435612083

In [4]:
stock.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/classicmodels") \
  .option("dbtable", "companyabc_db.stockdata") \
  .option("user", "root") \
  .option("password", "password") \
  .save()

# Section Two

In [46]:
sales = spark.read.load(['Sales_February_2019.csv','Sales_April_2019.csv'], format="csv", header = True,inferSchema = True)

In [51]:
sales.columns

['Order ID',
 'Product',
 'Quantity Ordered',
 'Price Each',
 'Order Date',
 'Purchase Address']

In [52]:
sales.printSchema()

root
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)

In [53]:
sales.describe().show()

+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|summary|          Order ID|     Product|   Quantity Ordered|        Price Each|    Order Date|    Purchase Address|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+
|  count|             30275|       30328|              30275|             30275|         30328|               30328|
|   mean|173816.63355904212|        null| 1.1239966969446737| 183.7621383980421|          null|                null|
| stddev|14902.179833784816|        null|0.43431295924749175|328.79347229907665|          null|                null|
|    min|            150502|20in Monitor|                  1|              2.99|02/01/19 01:51|1 14th St, New Yo...|
|    max|            194094|      iPhone|                  7|            1700.0|    Order Date|    Purchase Address|
+-------+------------------+------------+-------------------+------------------+--------------+--------------------+

In [55]:
sales.show()

+--------+--------------------+----------------+----------+---------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|     Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+---------------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95| 4/19/2019 8:46|917 1st St, Dalla...|
|  176559|Bose SoundSport H...|               1|     99.99| 4/7/2019 22:30|682 Chestnut St, ...|
|  176560|        Google Phone|               1|     600.0|4/12/2019 14:38|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|4/12/2019 14:38|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99| 4/30/2019 9:27|333 8th St, Los A...|
|  176562|USB-C Charging Cable|               1|     11.95|4/29/2019 13:03|381 Wilson St, Sa...|
|  176563|Bose SoundSport H...|               1|     99.99|  4/2/2019 7:46|668 Center St, Se...|
|  176564|USB-C Charging Cable|               1|     11.95|4/12/2019 10:58|790 Ridge St, Atl...|
|  176565|  Macbook Pro Laptop|               1|    1700.0|4/24/2019 10:38|915 Willow St, Sa...|
|  176566|    Wired Headphones|               1|     11.99| 4/8/2019 14:05|83 7th St, Boston...|
|  176567|        Google Phone|               1|     600.0|4/18/2019 17:18|444 7th St, Los A...|
|  176568|Lightning Chargin...|               1|     14.95|4/15/2019 12:18|438 Elm St, Seatt...|
|  176569|27in 4K Gaming Mo...|               1|    389.99|4/16/2019 19:23|657 Hill St, Dall...|
|  176570|AA Batteries (4-p...|               1|      3.84|4/22/2019 15:09|186 12th St, Dall...|
|  176571|Lightning Chargin...|               1|     14.95|4/19/2019 14:29|253 Johnson St, A...|
|  176572|Apple Airpods Hea...|               1|     150.0| 4/4/2019 20:30|149 Dogwood St, N...|
|  176573|USB-C Charging Cable|               1|     11.95|4/27/2019 18:41|214 Chestnut St, ...|
|  176574|        Google Phone|               1|     600.0| 4/3/2019 19:42|20 Hill St, Los A...|
|  176574|USB-C Charging Cable|               1|     11.95| 4/3/2019 19:42|20 Hill St, Los A...|
|  176575|AAA Batteries (4-...|               1|      2.99| 4/27/2019 0:30|433 Hill St, New ...|
+--------+--------------------+----------------+----------+---------------+--------------------+
only showing top 20 rows

In [60]:
sales = sales.withColumn('Total Price', sales['Price Each'] * sales['Quantity Ordered'])
sales = sales.select("Order ID", "Total Price", "Price Each", "Quantity Ordered", "Product", "Order Date", "Purchase Address")
sales.show()

+--------+-----------+----------+----------------+--------------------+---------------+--------------------+
|Order ID|Total Price|Price Each|Quantity Ordered|             Product|     Order Date|    Purchase Address|
+--------+-----------+----------+----------------+--------------------+---------------+--------------------+
|  176558|       23.9|     11.95|               2|USB-C Charging Cable| 4/19/2019 8:46|917 1st St, Dalla...|
|  176559|      99.99|     99.99|               1|Bose SoundSport H...| 4/7/2019 22:30|682 Chestnut St, ...|
|  176560|      600.0|     600.0|               1|        Google Phone|4/12/2019 14:38|669 Spruce St, Lo...|
|  176560|      11.99|     11.99|               1|    Wired Headphones|4/12/2019 14:38|669 Spruce St, Lo...|
|  176561|      11.99|     11.99|               1|    Wired Headphones| 4/30/2019 9:27|333 8th St, Los A...|
|  176562|      11.95|     11.95|               1|USB-C Charging Cable|4/29/2019 13:03|381 Wilson St, Sa...|
|  176563|      99.99|     99.99|               1|Bose SoundSport H...|  4/2/2019 7:46|668 Center St, Se...|
|  176564|      11.95|     11.95|               1|USB-C Charging Cable|4/12/2019 10:58|790 Ridge St, Atl...|
|  176565|     1700.0|    1700.0|               1|  Macbook Pro Laptop|4/24/2019 10:38|915 Willow St, Sa...|
|  176566|      11.99|     11.99|               1|    Wired Headphones| 4/8/2019 14:05|83 7th St, Boston...|
|  176567|      600.0|     600.0|               1|        Google Phone|4/18/2019 17:18|444 7th St, Los A...|
|  176568|      14.95|     14.95|               1|Lightning Chargin...|4/15/2019 12:18|438 Elm St, Seatt...|
|  176569|     389.99|    389.99|               1|27in 4K Gaming Mo...|4/16/2019 19:23|657 Hill St, Dall...|
|  176570|       3.84|      3.84|               1|AA Batteries (4-p...|4/22/2019 15:09|186 12th St, Dall...|
|  176571|      14.95|     14.95|               1|Lightning Chargin...|4/19/2019 14:29|253 Johnson St, A...|
|  176572|      150.0|     150.0|               1|Apple Airpods Hea...| 4/4/2019 20:30|149 Dogwood St, N...|
|  176573|      11.95|     11.95|               1|USB-C Charging Cable|4/27/2019 18:41|214 Chestnut St, ...|
|  176574|      600.0|     600.0|               1|        Google Phone| 4/3/2019 19:42|20 Hill St, Los A...|
|  176574|      11.95|     11.95|               1|USB-C Charging Cable| 4/3/2019 19:42|20 Hill St, Los A...|
|  176575|       2.99|      2.99|               1|AAA Batteries (4-...| 4/27/2019 0:30|433 Hill St, New ...|
+--------+-----------+----------+----------------+--------------------+---------------+--------------------+
only showing top 20 rows

In [62]:
sales.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/classicmodels") \
  .option("dbtable", "companyabc_db.sales") \
  .option("user", "root") \
  .option("password", "password") \
  .save()