In [1]:
import numpy as np
import pandas as pd

In [65]:
d = {'x': [1, 2, 3], 'y': np.array([2, 4, 8]), 'z': 100}
rd = pd.DataFrame(d)
print(rd)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [67]:
#slice_df = rd.loc[:,'x':'y']
new = pd.DataFrame(rd, index=[2, 1, 0])

#print(pd.DataFrame(d, index=[100, 200, 300], columns=['x', 'y', 'z']))
print(new)

   x  y    z
2  3  8  100
1  2  4  100
0  1  2  100

In [25]:
l = [{'x': 1, 'y': 2, 'z': 100},
     {'x': 2, 'y': 4, 'z': 100},
     {'x': 3, 'y': 8, 'z': 100}]

pd.DataFrame(l)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [57]:
l = [[1, 2, 100],
     (2, 4, 100),
     [3, 5, 100]]

rf = pd.DataFrame(l, columns=['x', 'y', 'z'])

In [58]:
l[0][0] = 1000
rf

   x  y    z
0  1  2  100
1  2  4  100
2  3  5  100

In [51]:
arr = np.array([[1, 2, 100],[2, 4, 100],[3, 8, 100]])
df = pd.DataFrame(arr, columns=['x', 'y', 'z'], copy=True)
df

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

In [54]:
arr[0,0] =1000
df

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100